div{
    padding-top: 5px;
    left: 25%;
    position: relative;
    height: 340px;
    width: 50%;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

